<h1 class="text-center">User List</h1>

<div class="d-flex justify-content-between align-items-center">
  
  <!-- Linke Seite: Buttons -->
  <div class="d-flex gap-2">
    <button id="excel-table"
            class="btn btn-primary"
            (click)="exportexcel()">
      Excel
    </button>

    <button id="pdf-doc"
            class="btn btn-primary"
            (click)="generatePDF()">
      PDF
    </button>
  </div>

  <!-- Rechte Seite: Search Form -->
  <form [formGroup]="searchForm"
        (ngSubmit)="onSearchSubmit()"
        class="search-bar ms-4">
    <div class="input-group">
      <input type="text"
             class="form-control"
             placeholder="Search..."
             formControlName="searchValue" />
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
</div>

<table class="users-table">
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        class="users-table-cell"
        (click)="sortTable(column)"
      >
        {{ capitalize(column) }}
        <span *ngIf="isDescSorting(column)">▼</span>
        <span *ngIf="isAscSorting(column)">▲</span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let list of lists">
      <td *ngFor="let column of columns" class="users-table-cell">
        {{ list[column] }}
      </td>
    </tr>
  </tbody>
</table>